/* main catalogo */

.catalago {
	width: 96%;
	margin: auto;
	margin-bottom: 2rem;
}
.list-group {
	font-family: $font-sub-all;
}
.box-scrollspy {
	@include posicion_fija(0px);
	margin-top: 6rem;
}
.img-mid-contenedor {
	img {
		margin: auto;
		padding: 0.5rem;
	}
}
.box-min-product {
	margin: auto;
}
.box-img {
	margin-top: auto;
}
.productos-catalogo-box {
	font-family: $font-titulos;
	display: none;
}
.bog-caja-cata-ord {
	display: flex;
	margin-top: 2rem;
}

