/* main quienes somos */

.back-top-header {
	width: 90%;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.box-quienes-s {
	display: block;
	margin: auto;
}
.box-quienes-s-text {
	padding: 1rem;
	padding-bottom: 0.3rem;
	color: $color_4;
	text-align: justify;
	background-color: $background-color_8;
	
	h2{
		font-family: $font-titulos;
		padding-bottom: 0.5rem;
	}
}
.box-quienes-s-img {
	margin-top: 1rem;
	img {
		padding: 0.4rem;
		height: 50vw;
		width: 100vw;
	}
}
.equipo_img_trabajo {
	width: 90%;
	margin: auto;
}

