/* main catalogo */

.catalago {
	width: 96%;
	margin: auto;
	margin-bottom: 2rem;
}
.list-group {
	font-family: $font-family_3;
}
.box-scrollspy {
	position: sticky;
	z-index: 1;
	top: 0px;
	margin-top: 6rem;
}
.img-mid-contenedor {
	img {
		margin: auto;
		padding: 0.5rem;
	}
}
.box-min-product {
	margin: auto;
	transition: 0.75s all ease-in-out;
	&:hover {
		transform: scale(1.1);
	}
}
.box-img {
	margin-top: auto;
}
.Productos-catalogo-box {
	font-family: $font-family_2;
	display: none;
}
.bog-caja-cata-ord {
	display: flex;
	margin-top: 2rem;
}

