
/* main- arma tu pc */

.box-productos-artpc {
	display: flex;
	width: 90%;
	margin-left: 8rem;
	margin-top: 2rem;
}
.box-productos-artpc-father {
	padding-top: 1rem;
}
.productos-armatupc {
	width: 90%;
	margin: auto;
}
.btn-subcategorias {
	margin-top: 5rem;
	margin-bottom: 1rem;
	@include texto-titulos;
}
.caja-big-sub {
    width: 66%;
	margin-left: auto;

}
.box-subcategorias {
	position: sticky;
	z-index: 0;
	top: 11rem;
	margin-bottom: 3rem;
}
.fondo-box-c {
	background-color: $background-fondo-cajas;
}
.productos-subcategorias-box {
	display: none;
}
.team-bottoms-sticky {
	width: 90%;
	margin: 0;
	padding: 0;
	margin: auto;
}
.box-more-ord-for {
	font-family: $font-titulos;
	margin-top: 1.2rem;
	justify-content: space-around;
}

/* barra model/tablet sticky */

.box-big-sub-box {
	margin-top: 1.2rem;
	display: none;
	font-family: $font-titulos;
}
.box-padre {
	background-color: $background-color_main;
	@include posicion_fija(0px);
	height: 5rem;
}
.box-marcas-sponsor {
	display: flex;
}




