/* Catalogo */

.title-box-ctlgo {
	height: 5rem;
	background-color: $background-sub;
	h1 {
		padding-top: 1.4rem;
		font-family: $font-titulos;
	}
}
.sub-box-text-header {
	width: 75%;
	margin: auto;
	font-family: $font-titulos;
}
.acercade-catalogo {
	margin-top: 2rem;
	margin-bottom: 2rem;
	h3 {
		@include texto-titulos;
	}
}
.box-mid-catalogo {
	h2 {
		@include texto-titulos;
		padding-top: 2rem;
		margin-bottom: 1.5rem;
	}
	background-color: $background-fondo-cajas;
}

/* Arma tu PC*/

.titulo-artpc {
	height: 5rem;
	background-color: $background-sub;
	@include texto-titulos;
	h1 {
		position: relative;
		padding-top: 1.4rem;
	}
}
.sub-catalogo {
	h2 {
		margin-top: 1rem;
	}
}

/* quienes somos */

.title-header-qs {
	height: 5rem;
	background-color: $background-sub;
	@include texto-titulos;
	h1 {
		padding-top: 1.4rem;
	}
}
.sub-title-box {
	background-color: $background-fondo-cajas;
	height: auto;
	padding: 1rem;
	color: $color_4;
	h2 {
		@include texto-titulos;
		padding: 1rem;
	}
	p {
		font-family: $font-sub-all;
	}
}
.box-title-caja {
	width: 90%;
	margin: auto;
	p {
		text-align: justify;
		background-color: $background-color_9;
		padding: 1rem;
	}
}

.cajita-mi-vi-box{
	display:flex;
	margin-bottom: 1rem;
}

.vision-cajita-box{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	background-color: $background-color_11;
	border-radius: 8px;
	h2{
		margin-top: 1rem;
	}
	p{
		padding: 1rem;
	}
}

.parrafo-main-qs{
	width: 98%;
	margin: auto;
	margin-bottom: 1rem;
}

/* Contacto */

.title-contacto {
	height: 5rem;
	background-color: $background-sub;
	@include texto-titulos;
	h1 {
		padding-top: 1.4rem;
	}
}