$color_1: currentColor;
$color_2: white;
$color_3: #1e2c3a;
$color_4: black;
$font-titulos: 'Oswald', sans-serif;
$font-sub-all: 'Oswald 300', sans-serif;
$background-color_main: #1e2c3a;
$background-color_2: white;
$background-color_3: rgba(255, 255, 255, 0.125);
$background-sub: #D7BEA8;
$background-fondo-cajas: #dae1e1;
$background-color_7: rgba(0, 0, 0, 0.658);
$background-color_8: #dae1e136;
$background-color_9: rgba(255, 255, 255, 0.303);
$background-color_10: rgba(157, 155, 155, 0.582);
$background-color_11: rgba(255, 255, 255, 0.838);
$background-boton: #bedbee;