$color_1: currentColor;
$color_2: white;
$color_3: #1e2c3a;
$color_4: black;
$font-family_1: 'Urbanist', sans-serif;
$font-family_2: 'Oswald', sans-serif;
$font-family_3: 'Oswald 300', sans-serif;
$background-color_main: #1e2c3a;
$background-color_2: white;
$background-color_3: rgba(255, 255, 255, 0.125);
$background-color_4: #D7BEA8;
$background-color_5: #dae1e1;
$background-color_6: #1E2C3A;
$background-color_7: rgba(0, 0, 0, 0.658);
$background-color_8: #dae1e136;
$background-color_9: rgba(255, 255, 255, 0.303);
$background-color_10: rgba(157, 155, 155, 0.582);
$background-color_11: rgba(255, 255, 255, 0.838);
$background-color_12: #bedbee;